@page "/"
@using TrainingServer.Hub.Data
@inject ConnectionManager Manager

<PageTitle>Index</PageTitle>

<h1>Connected servers</h1>

<ul>
	@foreach (var server in Manager.ListServers())
	{
		<li>@server.ReadableName (@(server.Guid.ToString().Split('-')[0]))</li>
	}
</ul>